.poke-toolbar-features {
  display: block;
  width: auto;
  text-align: left;
  margin-bottom: 10px;
  
  &__item-info {
    display: inline-block;
    font-size: 18px;
    white-space: nowrap;
    padding: 5px 20px;
    color: #d2a657;
  }
  &__compare-btn {
    display: inline-block;
  }
}