.poke-checkbox {
  text-align: left;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;

  input {
    position: absolute;
    left: -9999rem;
  }

  label {
    display: inline-block;
    position: relative;
    width: auto;
    margin: 5px;
    padding: 10px 10px 10px 38px;
    background-color: #000;
    font-size: 18px;
    white-space: nowrap;
    cursor: pointer;
  }

  label::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 18px;
    height: 18px;
    border: 2px solid #fff;
    background-color: #444;
  }

  input:focus + label {
    outline: 1px solid #fff;
  }

  input:checked + label::before {
    background-color: #c00;
  }
}
